@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary: #0167FF;
    --white: #fff;
    --light-grey: #f5f5f5;
    --background: rgba(88, 88, 88, 0.3);
    --icon-background: #3A3A3A;
    --black: #141720;
    --boxShadow: 0px 3px 6px #00000029;
    --borderRadius: 26px;
    --overlay: var(--black);
    --overlayVertical: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(0,0,0,0) 70%);
    --transition: all .25s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

* {
    box-sizing: border-box;
    color: var(--white);
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

a {
    color: var(--primary);
    text-decoration: none;
}

p {
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
    border-radius: var(--borderRadius);
}

.hidden {
    display: none;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.section.black {
    background-color: var(--black);
}

.section.black h1,
.section.black h2,
.section.black h3,
.section.black p {
    color: var(--white);
}

.section.grey {
    background-color: var(--light-grey);
}

.section .row {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 40px auto;
    padding: 60px 30px;
    border-radius: var(--borderRadius);
    background-color: var(--background);
}

.section .row .center {
    text-align: center;
}

.section .row.reverse {
    flex-flow: row-reverse wrap;
}

.section .row.flex-col {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.section .row.no-background {
    background-color: unset;
}

.section .row.flex-col.center,
.contact.section .row.flex-col.center {
    align-items: center;
}

.section .row .col {
    flex: 1 0 350px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section.logos .row {
    margin: 20px auto;
    padding: 0 30px;
}

.section.logos .row .logos-wrapper {
    align-items: center;
    gap: 60px;
}

.section.logos .row .logos-wrapper .item {
    padding: 0 20px;
}

.section.logos .row .logos-wrapper .item img {
    border-radius: 0;
}

.btn {
    width: fit-content;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--borderRadius);
    padding: 10px 30px;
    transition: var(--transition); 
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: var(--transition);
}

.btn.white {
    background-color: var(--white);
    color: var(--black);
    border-color: var(--white);
}

.btn.ghost {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn.ghost.white {
    color: var(--white);
    border: 1px solid var(--white);
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.wrapper .item {
    flex: 1 0;
    display: flex;
    flex-direction: column;
}

.overlay {
    background: var(--overlay);
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.form-wrapper {
    display: flex;
    width: 100%;
}

.form-wrapper form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

.form-wrapper .form-row {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.form-wrapper input {
    color: var(--black);
    flex: 1;
    width: 100%;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 1px solid var(--primary);
    border-radius: 12px;
    height: 60px;
    outline: none;
    font-size: 16px;
    transition: border 200ms ease;
}

.form-wrapper input:focus {
    transition: border 200ms ease;
    border: 2px solid var(--primary);
}

.form-wrapper .btn {
    width: fit-content;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--borderRadius);
    padding: 10px 30px;
    transition: var(--transition); 
}

.form-wrapper .btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: var(--transition);
}

.projects .projects-wrapper {
    margin-top: 40px;
    gap: 40px;
}

.projects .projects-wrapper .item {
    flex: 1 0 30%;
    background-color: var(--white);
    border-radius: var(--borderRadius);
}

.projects .projects-wrapper .item img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.projects .projects-wrapper .item .content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.projects .projects-wrapper .item .content .btn {
    margin-top: 20px;
}

.projects .projects-wrapper .item .content h3,
.projects .projects-wrapper .item .content p  {
    color: var(--black);
}

.slideUp {
    animation: slide-up 1s ease 0s 1 normal forwards;
}

.cookie-banner-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    right: 50px;
    bottom: 50px;
    height: auto;
    width: 400px;
    background-color: var(--white);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29);
    z-index: 99;
    border-radius: var(--borderRadius);
}

.cookie-banner-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.cookie-banner-content p {
    color: var(--black);
}

.cookie-banner-content .heading {
    font-weight: 700;
    margin-bottom: 10px;
}

.cookie-banner-wrapper a {
    color: var(--primary);
    margin-top: 20px;
}

.cookie-banner-wrapper a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cookie-banner-wrapper .cookies-buttons {
    display: flex;
    gap: 20px;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.hide-cookie-banner {
    display: none!important;
}

.reviews.section .row .review-wrapper {
    flex-direction: column;
}

.reviews.section .row .review-wrapper .review-author {
    color: var(--primary);
}

.dots {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dots .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary);
    opacity: 0.4;
    transition: var(--transition);
}

.dots .dot:hover {
    cursor: pointer;
}

.dots .dot.active {
    opacity: 1;
    transition: var(--transition);
}

.contact .row {
    align-items: flex-start;
    gap: 80px;
    background-color: var(--white);
}

.contact .row .col:nth-of-type(1) {
    flex: 2 0;
}

.contact .row .col:nth-of-type(2) {
    flex: 1 0;
}

.contact .row .col:nth-of-type(1) h2,
.contact .row .col:nth-of-type(1) p {
    color: var(--black);
}

.contact .heading {
    color: var(--black);
    font-size: 28px;
    font-weight: 700;
}

.contact .legal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact .legal .legal-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact .legal .legal-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.contact .legal .legal-item .icon i {
    color: var(--white);
}

.contact .legal .legal-item a,
.contact .legal .legal-item p {
    color: var(--black);
    transition: var(--transition);
}

.contact .legal .legal-item a:hover {
    color: var(--primary);
    transition: var(--transition);
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media all and (max-width: 540px) {
    .cookie-banner-wrapper {
        width: 100%;
        left: 0;
        right: 0;
        bottom: 100px;
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    .section .row {
        padding: 30px;
        gap: 40px;
    }

    .section .row .col {
        flex: 1 0 100%;
    }

    p,
    .btn {
        font-size: 14px;
    }

    .section.logos .row .logos-wrapper {
        gap: 25px;
    }

    .section.logos .row .logos-wrapper .item {
        flex: 0 1 25%;
        padding: 0;
    }

    .section.logos .row .logos-wrapper .item:last-child {
        display: none;
    }

    .form-wrapper form {
        width: 100%;
    }

    .form-wrapper input {
        font-size: 14px;
    }

    .contact .heading {
        font-size: 22px;
    }

    .section .scroll-down {
        display: none;
    }

    .section.filter .wrapper {
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }

    .projects .projects-wrapper .item .content h3 {
        text-align: left;
    }
}