.services .services-wrapper {
    margin-top: 40px;
    gap: 40px;
}

.services .services-wrapper .item {
    flex: 1 0 40%;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;
}

.services .services-wrapper .item img {
    max-width: 70px;
    height: auto;
    border-radius: 0;
}

.services .services-wrapper .item .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}

.services .services-wrapper .item .content a,
.services .services-wrapper .item .content i {
    color: var(--white);
    transition: var(--transition);
}

.services .services-wrapper .item .content a:hover,
.services .services-wrapper .item .content a:hover i {
    color: var(--primary);
    transition: var(--transition);
}

.services .services-wrapper .item .content h3,
.services .services-wrapper .item .content p  {
    color: var(--white);
}

.review .review-wrapper {
    width: 100%;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

.review .review-wrapper .item .quote {
    font-weight: 700;
    font-size: 32px;
}

.review .review-wrapper .item .author {
    opacity: 0.7;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
}

.review .review-wrapper .item a {
    color: var(--white);
    font-weight: 400;
}

@media (max-width: 560px) {
    .about .row {
        flex-flow: column-reverse;
    }

    .services .services-wrapper .item {
        flex: 1 0 100%;
        gap: 20px;
    }

    .services .services-wrapper .item .content {
        width: 100%;
    }
}