.projects .projects-wrapper {
    margin-top: 40px;
    gap: 40px;
}

.projects .projects-wrapper .item {
    background-color: var(--white);
    border-radius: var(--borderRadius);
}

.projects .projects-wrapper .item img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.projects .projects-wrapper .item .content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.projects .projects-wrapper .item .content .btn {
    margin-top: 20px;
}

.projects .projects-wrapper .item .content h3,
.projects .projects-wrapper .item .content p  {
    color: var(--black);
}

/* TO DO */
/*

ZOOM ON IMAGE HOVER

*/


.services .services-wrapper {
    margin-top: 40px;
    gap: 40px;
}

.services .services-wrapper .item {
    flex: 1 0 40%;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;
}

.services .services-wrapper .item img {
    max-width: 70px;
    height: auto;
    border-radius: 0;
}

.services .services-wrapper .item .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}

.services .services-wrapper .item .content a,
.services .services-wrapper .item .content i {
    color: var(--white);
    transition: var(--transition);
}

.services .services-wrapper .item .content a:hover,
.services .services-wrapper .item .content a:hover i {
    color: var(--primary);
    transition: var(--transition);
}

.services .services-wrapper .item .content h3,
.services .services-wrapper .item .content p  {
    color: var(--white);
}

.review .review-wrapper {
    width: 100%;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

.review .review-wrapper .item .quote {
    font-weight: 700;
    font-size: 32px;
}

.review .review-wrapper .item .author {
    opacity: 0.7;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
}

.review .review-wrapper .item a {
    color: var(--white);
    font-weight: 400;
}

.contact .row {
    align-items: flex-start;
    gap: 80px;
    background-color: var(--white);
}

.contact .row .col:nth-of-type(1) {
    flex: 2 0;
}

.contact .row .col:nth-of-type(2) {
    flex: 1 0;
}

.contact .row .col:nth-of-type(1) h2,
.contact .row .col:nth-of-type(1) p {
    color: var(--black);
}

.contact .heading {
    color: var(--black);
    font-size: 28px;
    font-weight: 700;
}

.contact .legal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact .legal .legal-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact .legal .legal-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.contact .legal .legal-item .icon i {
    color: var(--white);
}

.contact .legal .legal-item a,
.contact .legal .legal-item p {
    color: var(--black);
    transition: var(--transition);
}

.contact .legal .legal-item a:hover {
    color: var(--primary);
    transition: var(--transition);
}

@media (max-width: 560px) {
    .about .row {
        flex-flow: column-reverse;
    }

    .services .services-wrapper .item {
        flex: 1 0 100%;
        gap: 20px;
    }

    .services .services-wrapper .item .content {
        width: 100%;
    }

    .form-wrapper form {
        width: 100%;
    }

    .form-wrapper input {
        font-size: 14px;
    }

    .contact .heading {
        font-size: 22px;
    }
}