.content.section .row.flex-col.center {
    align-items: flex-start;
    max-width: 960px;
}

.content.section ul {
    margin-left: 30px;
}

.content.section ul a {
    color: var(--white);
    transition: var(--transition);
}

.content.section ul a:hover {
    color: var(--primary);
    transition: var(--transition);
}